<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="Parallel test suite" parallel="tests" thread-count="2">
  <test name="Regression 1">
    <classes>
      <class name="com.appium.test.TestCase1"/>
    </classes>
  </test>
   <test name="Regression 2">
    <classes>
      <class name="com.appium.test.TestCase2"/>
    </classes>
  </test>
</suite> -->
<suite name="Suite" parallel="tests" thread-count="1" >
	<test name="Test1">
		<parameter name="deviceName_" value="MauryaJi"/>
		<parameter name="UDID_" value="93ffd01a0803"/>
		<parameter name="platformVersion_" value="7.0 NRD90M"/>
		<parameter name="URL_" value="0.0.0.0:4723/wd/hub"/>
		<classes>
			<class name="com.appium.test.TestCase3"/>
		</classes>
	</test>
	<test name="Test2">
		<parameter name="deviceName_" value="Redmi"/>
		<parameter name="UDID_" value="e5b1c2a27d53"/>
		<parameter name="platformVersion_" value="6.0.1 MMB29M"/>
		<parameter name="URL_" value="0.0.0.0:4724/wd/hub"/>
		<classes>
			<class name="com.appium.test.TestCase3"/>
		</classes>
	</test>
</suite>